# IDE and Checkpoint Files
.spyproject/
.vscode/
.ipynb_checkpoints
__pycache__/
.pybiomart.sqlite
~$*
*/~$*
cache/
**/.DS_Store

# Output or Downloaded Folders
input.zip
figures/
output/
input/
data/

# External Software
iupred2a/

# Snakemake files
**/.snakemake
