# IDE and Checkpoint Files
.vscode/
.ipynb_checkpoints
__pycache__/
.pybiomart.sqlite
~$*
*/~$*

# Large Inputs
input/raw/nuc*
input/raw/counts*
input/raw/tpms*
input/raw/uniprot*.fasta.gz
input/processed/scanpy/Counts*.csv
input/processed/scanpy/Tpms*.csv
input/processed/python/nuc_predicted*
input/processed/combined.snpeff.vcf.gz
input/processed/ProteinDisorderProperties.csv.gz
*ForScanpy.csv

# Output Folders
figures/
output/
data/

# External Software
iupred2a/
