figures/
*ForScanpy.csv
.vscode/
__pycache__/
.pybiomart.sqlite
input/processed/scanpy/Counts*.csv
input/processed/scanpy/Tpms*.csv
input/processed/python/nuc_predicted*
~$*
*/~$*
output/ProteinMod*
output_devin/*
input/raw/nuc*
input/raw/counts*
input/raw/tpms*
output/pickles*
.ipynb_checkpoints
output/